$dk-gray: #808080;
$text-white: #fff;

$carousel-item-height: 500px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}
.row-content {
	@include zero-margin(50px,0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.text-adjust {
	font-size: 1.5vw;
}

.carousel {
	background: $dk-gray;

	.carousel-item {
		height: $carousel-item-height;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 500px;
			width: 65%;
		}
		.carousel-caption {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	#carouselButton {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $dk-gray;
		border: $dk-gray;
	}
	button:active{
		outline: white;
	}
	.fa-pause {
		color: white;
	}
	.fa-play {
		color:white;
	}
}

/*Tyler's Stuff*/
#header {
	background: #5f9ea0;
	color: #fff;
}

h2 {
	width: 100%;
	text-align: center;
	color: #5f9ea0;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

h2 span {
	background: #fff;
	padding: 0 10px;
}

.footer {
	padding: 40px;
}

#box1 {
	background: #5f9ea8;
	color: #343a40;
}

#box2 {
	background: #343a40;
	color: #fff;
}

#main-footer {
	background: #5f9ea8;
	color: #fff;
}

a {
	color: inherit;
}

.fa-xs {
	font-size: 0.5rem;
	position: relative;
	top: -1px;
}
