#header {
  background: #ddd;
  color: #fff; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.h2 {
  width: 100%;
  text-align: center;
  color: #cc0000;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px; }

h2 span {
  background: #fff;
  padding: 0 10px; }

.text-adjust {
  font-size: 1.5vw; }

/*
.carousel {
    background: $background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 500px;
        }
    }
}*/
